body{
    background-color: gray;
}

div{
    background-color: red;
    width: 100px;
    height: 100px;
    /*display: none;*/
    visibility: block;
}

span{
    background-color: lightblue;
    width: 100px;
    height: 100px;
    display: inline-block;
}